<web-app version="2.5">
    <!--  第一个 helloworld 程序  -->
  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>com.kissshot.servletDemo.servlet.Servlet4HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/helloWorld</url-pattern>
  </servlet-mapping>

    <!--  填写表单  -->
    <servlet>
        <servlet-name>HelloForm</servlet-name>
        <servlet-class>com.kissshot.servletDemo.servlet.HelloForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloForm</servlet-name>
        <url-pattern>/HelloForm</url-pattern>
    </servlet-mapping>

    <!--  request 请求 -->
    <servlet>
        <servlet-name>Request</servlet-name>
        <servlet-class>com.kissshot.servletDemo.servlet.RequestInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Request</servlet-name>
        <url-pattern>/request</url-pattern>
    </servlet-mapping>



</web-app>
